<mat-toolbar *ngIf="donationsBanner.enabled"  [@slideInOut]>
  <mat-toolbar-row fxLayout fxLayout.lt-md="column" class="donations-banner-row">
    <div>
      <div class="icon-wrapper" fxLayoutAlign="center center">
        <img src="/assets/icons/cross.png" alt="image">
      </div>
    </div>
    <div
      class="text-div"
      fxLayoutAlign="center center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center start"
      fxLayoutFill
    >
      <span class="title mr-2" *ngIf="donationsBanner.content.title">{{ donationsBanner.content.title }}</span>

      <div fxFlex class="announcement-paragraph" [innerHTML]="donationsBanner.content.announcement"></div>
    </div>

    <div fxFlex fxLayoutAlign="flex-start" class="buttons-div" fxLayoutAlign.lt-md="start center">
      <a mat-flat-button routerLink="/donations" (click)="onAction()" color="accent">
        {{ donationsBanner.content.actionButtonText }}
      </a>
      <button
        mat-stroked-button
        class="dismiss-button mat-stroked-button mat-button-base"
        (click)="onDismiss()"
        color="primary"
      >
        {{ donationsBanner.content.dismissButtonText }}
      </button>
    </div>

    <div fxFlex fxHide.lt-md fxLayoutAlign="flex-end">
      <button class="close-button" (click)="onDismiss()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

