<div class="donations-page-overview">
  <ng-container *ngIf="showThanks; else thanks">
    <div class="acount-page-all-acount-text uxg-display-4">Your balance</div>
    <div class="account-page-acount-overview-info">
      <div class="round-icon">
        <mat-icon aria-hidden="false" aria-label="Account">credit_card</mat-icon>
      </div>
      <div class="account-page-acount-overview-info-detail">
        <div class="uxg-subtitle-2">Available Balance:</div>
        <div class="uxg-h5">{{ availableBalance | currency }}</div>
      </div>
    </div>
    <div class="acount-page-all-acount-text uxg-display-4">Select an account*</div>
    <mat-form-field appearance="fill">
      <mat-select placeholder="--" [(ngModel)]="selectedAccount">
        <mat-option *ngFor="let account of accounts" [value]="account">
          {{ account.nickname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="acount-page-all-acount-text uxg-display-4">Select an ammount*</div>
    <mat-form-field appearance="fill">
      <input [(ngModel)]="donationAmmount" type="number" matInput placeholder="Ex. $10" />
    </mat-form-field>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-flat-button class="donate-button" color="accent" (click)="makeTransaction()">
        Donate!
      </button>
    </div>
  </ng-container>

  <ng-template #thanks>
    <div class="acount-page-all-acount-text thanks-text uxg-display-4">Thank you for supporting Red Cross again this year</div>
     </ng-template>
 
</div>
